
<div id="question">
  <p><%=@coach_question%></p>
  <p>-<i>You</i></p>
</div>

<div id="response">
  <p><%=@coach_answer%> </p>
  <p>-<i>Your coach</i></p>
</div>

<div id="askagain">
  <%=link_to "Ask another question", ask_path%>
</div>
