
<div id="form">
  <form action="/answer">
    <input type="text" name="question" class="form-control">
    <small id="askquestion" class="form-text text-muted">Ask your coach anything:</small>
    <input type="submit" value="Ask!" class="btn btn-primary">
  </form>
</div>
